*{
    margin:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins', sans-serif;
    color:#e6e6e6;
    line-height:1.6;
    padding:40px;

    min-height:200vh;

    position:relative;
}
body::before{
    content:"";
    position:fixed;
    inset:0;

    background-image:url("anime.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    filter:blur(10px);
    transform:scale(1.1);

    z-index:-1;
}
header{
    text-align:center;
    margin-bottom:50px;
}
header h1{
    font-size:42px;
    color: #f8f4f4;
    font-weight:600;
}
header p{
    color:#020000;
    margin-top:6px;
}
.logo{
    width:120px;
    margin-top:20px;
    border-radius:50%;
}
main{
    max-width:900px;
    margin:auto;
}
section{
    background:#6a56d86b;
    padding:30px;
    border-radius:10px;
    margin-bottom:30px;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    box-shadow:0 10px 22px rgba(0,0,0,0.35);
}
#terms{
    background:#4308e69a;
    padding:30px;
    border-radius:10px;
    box-shadow:0 10px 22px rgba(0,0,0,0.35);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(8px);
    color: #e6e6e6;
}
#privacy{
    background:#e60606a2;
    padding:30px;
    border-radius:10px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(8px);
    color: #e6e6e6;
}
.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:30px;
}
.btn1{
    padding:12px 24px;
    font-size:16px;
    font-family:'Poppins',sans-serif;

    border-radius:10px;
    border:1px solid rgba(83, 58, 228, 0.2);

    background:rgba(207, 45, 4, 0.445);

    color:white;
    cursor:pointer;
    text-decoration:none;

    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    box-shadow:0 8px 20px rgba(0,0,0,0.35);

    transition:0.25s ease;
}

.btn{
    padding:12px 24px;
    font-size:16px;
    font-family:'Poppins',sans-serif;

    border-radius:10px;
    border:1px solid rgba(255,255,255,0.2);

    background:rgb(89, 9, 236);

    color:white;
    cursor:pointer;
    text-decoration:none;

    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    box-shadow:0 8px 20px rgba(0,0,0,0.35);

    transition:0.25s ease;
}
.btn2{
    padding:7px 25px;
    font-size:13px;
    font-family:'Poppins',sans-serif;

    border:1px solid #d7d8e4;
    border-radius:14px;

    background:rgba(11,31,128,0.35);   /* transparent background */

    color:white;
    cursor:pointer;
    text-decoration:none;

    box-shadow:0 8px 20px rgba(233,230,230,0.4);

    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
}
.btn2:hover{
    transform:translateZ(2px);
    transform:scale(0.95);
}
.btn1:hover{
    transform:translateZ(-2px);
    box-shadow:0 8px 20px rgba(233, 230, 230, 0.4);
    transform:scale(0.95);
}
.btn:hover{
    transform:translateZ(-2px);
    box-shadow:0 8px 20px rgba(233, 230, 230, 0.4);
    transform:scale(0.90);
}
.btn:active{
    transform:scale(0.90);
    box-shadow:0 4px 10px rgba(233, 230, 230, 0.2);
}
.btn1:active{
    transform:scale(0.90);
    box-shadow:0 4px 10px rgba(233, 230, 230, 0.2);
}
#scrollBar{
    position:fixed;
    top:10px;
    left:50%;

    transform:translate(-50%, -120%);

    width:85%;
    max-width:1100px;

    padding:10px 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(25,45,35,0.65);

    backdrop-filter:blur(12px);
    -webkit-backdrop-filter:blur(12px);

    border-radius:12px;
    border:1px solid rgba(255,255,255,0.15);

    transition:transform 0.35s ease;

    z-index:9999;
}

#scrollBar.active{
    transform:translate(-50%,0);
}
footer{
    text-align:center;
    margin-top:50px;
    color:#0e0303;
}
